@tailwind components;
@tailwind base;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    /* Correct format value */
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'signpainter';
    src: url('../fonts/SignPainter/SignPainter-HouseScript-Regular.ttf') format('truetype');
    /* Correct format value */
}


* {
    font-family: 'Poppins', Arial, sans-serif;
    /* border: 1px solid green; */
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

section {
    padding: 4.5rem 0;
}

section.section-sm {
    min-height: 400px;

}

section.section-md {
    min-height: 800px;
}

.card-component {
    max-width: 800px;
    padding: 1.5rem .8rem;
    display: flex !important;
    margin: 0 auto;
}

.card-component img {
    position: relative;
    width: 150px;
    height: 150px;
}

.card-component p {
    background-color: rgba(255, 255, 255, .3);
    padding: .5rem .8rem;
}

.slick-next {
    display: none !important;
}

.slick-slider.slick-initialized {
    height: 250px;
}


.slick-dots {
    text-align: right;
    width: 75%;
    margin: 0 auto;
}

.slick-dots li button::before {
    content: '' !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    opacity: 0.7;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    cursor: pointer;
    font-family: 'Arial' !important;
}

.slick-dots li.slick-active button::before {
    opacity: 1 !important;
    color: #fff !important;
    background-color: #fff !important;
    font-family: 'Arial' !important;
}

.slick-dots.slick-slide {
    transition: transform 0.5s ease;
}

.card-service {
    max-width: 300px;
}

#offer-section {
    height: 400px !important;
}

img.image-offer-section {
    position: relative !important;
    bottom: 8.67rem;
    right: -20%;
    transform: scaleX(-1);
    max-width: 475px;
}

.card-price {
    width: 300px;
    height: 450px;
    padding: .5rem 0;
}

#footer {
    height: 400px;

}

.image-footer {
    position: relative;
    height: 100%;
    /* Ensure the image doesn't overflow the container */
}

.image-footer img {
    max-width: 400px;
    height: auto;
    position: absolute;
    bottom: -10rem;
    z-index: 2 !important;
    left: 70%;
    transform: translateX(-50%);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .image-footer img {
        max-width: 200px !important;
    }
}


@media only screen and (max-width: 1200px) {
    img.image-offer-section {
        width: 400px;
        bottom: 4rem;
    }

    .image-footer img {
        max-width: 300px;
        height: auto;
        position: absolute;
        bottom: -1rem;
        z-index: 2 !important;
        transform: translateX(-40%);
    }
}

.container-image-projects img {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 928px) {
    #offer-section {
        height: auto !important;
    }

    .image-footer img {
        max-width: 200px;
        height: auto;
        position: absolute;
        bottom: -8rem;
        z-index: 2 !important;
        transform: translateX(-40%);
    }

    #footer {
        height: auto !important
    }

    img.image-offer-section {
        max-width: 400px;
        bottom: -4.5rem;
        right: 0;

    }
}

@media only screen and (max-width: 600px) {
    section {
        padding: 4.5rem 2rem;
    }

    .slick-dots {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .slick-slider.slick-initialized {
        height: auto;
    }

    .image-footer {
        display: none;
    }

    .image-footer img {
        max-width: 200px;
        height: auto;
        position: absolute;
        bottom: -8rem;
        z-index: 2 !important;
        transform: translateX(10%);
    }


    .slick-next {
        display: block !important;
    }

    .card-component {
        max-width: 800px;
        padding: 1.5rem .8rem;
        display: flex !important;
        flex-direction: column;
    }

    #offer-section {
        height: auto !important;
    }

    img.image-offer-section {
        position: relative !important;
        max-width: 100%;
        bottom: -4.5rem;
    }
}