@tailwind components;
@tailwind base;
@tailwind utilities;


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    /* Correct format value */
}

@font-face {
    font-family: 'signpainter';
    src: url('../fonts/SignPainter/SignPainter-HouseScript-Regular.ttf') format('truetype');
    /* Correct format value */
}

* {
    font-family: 'Poppins', Arial, sans-serif;
}

section {
    padding: 2.5rem 0;
}